.menu .email {
  padding-right: 1em;
}

.main.container {
  margin-top: 5em;
}

@media only screen and (max-width: 767px) {
  .ui.menu > .ui.container {
    width: 100% !important;
  }
}

.ui.dropdown {
  width: 100%;
}

#photo-work {
  display: none;
}

.to_center {
  position: absolute;
    top: 50%;
    left: 0;
    text-align: center;
    transform: translateY(-50%);
}
