<template name="arpView">

    <h3>Last API Call: </h3>

    <div class="ui raised segment">
        <div class="ui list">
            <div class="item">Time: {{formatStandardDate lastAPICall.time}}</div>
            <div class="item">Origin IP: {{lastAPICall.clientIP}}</div>
            <div class="item">Success: {{lastAPICall.success}}</div>
        </div>
    </div>

    <h3>ARP table</h3>

    <div class="ui raised segment">
        <ul>
            {{#each ARPEntries}}
                {{>entry}}
            {{/each}}
        </ul>
    </div>
</template>

<template name="entry">
    <li>{{MAC}} / {{IP}} ({{formatStandardDate updatedAt}}) / {{company}} / {{type}}</li>
</template>