<template name="main">

    <div class="ui fixed inverted menu">
        <div class="ui container">
            <div class="header item">CANDRA</div>
            <div class="right menu">
                <div class="ui item">
                    {{#if currentUser}}
                        <span class="email">{{email}}</span>
                        <a class="ui inverted button" id="logout" href="#">Logout</a>
                    {{/if}}
                </div>
            </div>
        </div>

    </div>

    <div class="main ui container">

        {{#if currentUser}}
            <div class="ui secondary pointing menu">
                <a href="{{pathFor 'profile'}}" class="{{routeActive 'profile'}} item">
                    Profile
                </a>
                <a href="{{pathFor 'whosthere'}}" class="{{routeActive 'whosthere'}} item">
                    Who's there?
                </a>
            </div>
            {{> yield}}
        {{else}}
            {{> yield}}
        {{/if}}
    </div>

</template>