<template name="whosthere">

    <h3>Who's there?</h3>

    <div class="ui four column stackable grid">
        {{#each connectedMembers}}
            <div class="column">
                <div class="ui fluid card {{unknownMemberClass}}">
                    <div class="image">
                        {{#if picture}}
                            <img src="{{picture}}">
                        {{else}}
                            <img src="/tempimage.png?v2">
                        {{/if}}
                    </div>
                    <div class="content">
                        {{#unless unknown}}
                            <a class="header">{{name}}</a>
                        {{else}}
                            <div class="ui dropdown">
                                <div class="text">Unknown</div>
                                <i class="dropdown icon"></i>

                                <div class="menu">
                                    {{#each allMembers}}
                                        <div class="item user" data-value="{{../MAC}}">
                                            {{profile.name}}
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                        {{/unless}}

                        <div class="meta">
                            <!--<span class="email">Email: {{email}}</span><br/>-->
                            <span class="MAC">MAC address: {{MAC}}</span><br/>
                            <span class="date">Arrived at: {{formatStandardDate time}}</span>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>

</template>