<template name="whosthere">

    <h1>Who's there?</h1>

    <div class="ui four column grid">
        {{#each connectedMembers}}
            <div class="column">
                <div class="ui fluid card {{unknownMemberClass}}">
                    <div class="image">
                        {{#if picture}}
                            <img src="{{picture}}">
                        {{else}}
                            <img src="/tempimage.png?v2">
                            <div class="meta to_center">
                              <span class="MAC">{{MAC}}</span><br/>
                              <span class="hardware">{{company}}</span><br/>
                              <span class="date">{{formatDateFromNow time}}</span>  
                            </div>
                        {{/if}}
                    </div>
                    <div class="content">
                        {{#unless unknown}}
                            <a class="header">{{name}}</a>
                        {{else}}
                            <div class="ui dropdown">
                                <div class="text">Unknown</div>

                                {{#if currentUser}}
                                    <i class="dropdown icon"></i>

                                    <div class="menu">
                                        {{#each allMembers}}
                                            <div class="item user" data-value="{{../MAC}}">
                                                {{profile.name}}
                                            </div>
                                        {{/each}}
                                    </div>
                                {{/if}}
                            </div>
                        {{/unless}}

                        <div class="meta">
                            <span class="date">{{formatDateFromNow time}}</span>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>

</template>
